<div class="faq-container">
  <h1 class="title">Features that will enhance your Business</h1>

  <div class="contents">
    <div class="left-section">
      <div
        #faqSection
        class="question-answer"
        *ngFor="let faq of faqs; let i = index"
        (click)="changefaq(faq, i)"
      >
        <h4 [ngClass]="{'active': isExpanded && selectedIndex === i}">{{ faq.question }}</h4>
        <p [ngClass]="{ expand: isExpanded && selectedIndex === i }">
          {{ faq.answer }}
        </p>
      </div>
    </div>

    <div class="right-section">
    {{isImageAnimation}}
      <img
        [ngClass]="{ 'animated fadeInDown': isImageAnimation }"
        [src]="'../assets/images/' + faqImage"
      />
    </div>
  </div>
</div>
